<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>

<p>
	<img src="joesupdatedbanner.jpg" alt="" usemap="#Map" />
	<map name="Map" id="Map">
    <area alt="" title="" href="/startjoe" shape="poly" coords="18,50,266,53,271,70,19,75" />
    <area alt="" title="" href="/startjade" shape="poly" coords="299,47,579,45,584,72,303,73" />
    <area alt="" title="" href="/info" shape="poly" coords="625,53,712,53,713,75,620,78" />
    <area alt="" title="" href="/startgames" shape="poly" coords="144,31,585,31,588,5,149,3" />
    </map>
</p>         
         
<p>
<audio controls autoplay>
   <source src="rain.mp3" type="audio/mpeg">
</audio>

<%=message1%></p>
 

<form action="/startgames" method="POST">
<p>
What's Your Name?<br>
 <input type="text" name="name"> 
<br>
How Old are You?<br>
<input type = "text" name="age">
<br>
  <input type="radio" name="playgame" value="Joe's Trippy Adventure Game" checked>Joe's Trippy Adventure Game
  <br>
  <input type="radio" name="playgame" value="Jade's Safari Adventure Game">Jade's Safari Adventure Game
  <br>
 <input type="submit" name="submit">
 </p>
</form> 

</html>

