
<p>
<audio controls autoplay>
   <source src="rain.mp3" type="audio/mpeg">
</audio>

<%=message1%></p>
 

<form action="/startgames" method="POST">
<p>
What's Your Name?<br>
 <input type="text" name="name"> 
<br>
How Old are You?<br>
<input type = "text" name="age">
<br>
  <input type="radio" name="playgame" value="Joe's Trippy Adventure Game" checked>Joe's Trippy Adventure Game
  <br>
  <input type="radio" name="playgame" value="Jade's Safari Adventure Game">Jade's Safari Adventure Game
  <br>
 <input type="submit" name="submit">
 </p>
</form> 



