

<br><br><br><br><br><br>



<p><img src="/opendoor.jpg"></p>
<br> <br>


<p><%=answerdoor%><br><br></p>



<form action="/answerdoor" method="POST"> 
  <p>
  <input type="submit" name="door" value="Yes">
  
  <input type="submit" name="door" value="No">
</p>
  </form> 
  </html>
  
  