<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="green">

<p style="color:black"><b><br><br><br><br><br><br>



<img src="/opendoor.jpg">
<br> <br>


<%=answerdoor%><br><br><%=answerdoor2%> </b></p>



<form action="/answerdoor" method="POST"> 
  <input type="submit" name="door" value="Yes">
  
  <input type="submit" name="door" value="No"> 
  
</form> 
