

<p><audio autoplay>
  <source src="" type="audio/mpeg">
  </audio>
</p>

<br><br>

<p>
<img src="duffbeer.jpg" width ="200" height= "200">
</p>

<br><br>

<p>
	<%=message1%><br><%=message2%><br><%=message3%>
</p>

<form action="/playpool" method="POST">
<p>
  <input type="submit" name="pool" value="Play a Round">
  <input type="submit" name="pool" value="Nah Im good">
</p> 
</form> 
