
<p><audio src="" type="audio/mpeg">
</audio></p>
	
<br>

<p><img src="trippinginwoods.jpg"></p>


<p><%=message1%><br><%=message2%><br><%=message3%><br><%=message4%></p>

<form action="/tripping_in_woods"  method="POST">
<p>

<input type="submit" name="wtf" value="Yeah Lets Go Check It Out"><br>

<input type="submit" name="wtf" value="Hell No I Ain't Going Anywhere Near That ">

</p>

</form>
