
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>


<br><br>



<p><img src="homerwhat.jpg"></p>


<br><br><p><%=message1%><br><%=stick_out_tounge%><br><%=doyou%></p>



<form action="/what_is_it" method="POST"> <p>
  <input type="submit" name="what" value="Yes">
  
  <input type="submit" name="what" value="No">
  
   </p>
</form> 

