<head>
<link rel="stylesheet" href="/style.css">
</head>

<img src="/trippybanner.jpg"><p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>
<body bgcolor="green">

<p style="color:black"><b><br><br>



<img src="homerwhat.jpg">


<br><br></b><p><%=message1%><br><%=stick_out_tounge%><br><%=doyou%></p>



<form action="/what_is_it" method="POST"> 
  <input type="submit" name="what" value="Yes">
  
  <input type="submit" name="what" value="No">
   <input type="text" name="acid" >
</form> 

