
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>
<br>



<p><img src="homerandotto.gif"></p>


<br><p><%=message1%><br><%=stick_out_tounge%><br><%=doyou%></p>



<form action="/stick_out_tounge" method="POST"> 
 <p>
 
  <input type="submit" name="tounge" value="Yes">
    <input type="submit" name="tounge" value="No"><br>
	
	<input type="number" name="hits" min="1" max="10" Value = "1"> How many hits of acid you want?
  </p>
</form> 
