
<p><audio autoplay>
  <source src="" type="audio/mpeg">
  </audio>
</p>

<br><br>

<p>
<img src="insideclub.jpg">
</p>

<br><br>

<p>
	<%=message1%><br><%=message2%>
</p>

<form action="/start_drinking" method="POST">
<p>
  <input type="submit" name="shotorbeer" value="Take a Shot">
  <input type="submit" name="shotorbeer" value="Just Drink Beer">
  <br>
  <input type"text" name="booze"> How much beer you wanna start with?
</p> 
</form> 


