
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>

<br><br>


<p><img src="bender.png"></p>
<br> <br>

<br><br><p><%=daveishere%><br><%=message1%></p>



<form action="/davehere" method="POST">
<p> 
  <input type="submit" name="dave" value="Yes">
  <input type="submit" name="dave" value="No">		 
</p>
</form> 
