<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="green">
<%=  @params[:name] %>
<p style="color:black"><b><br><br><br><br><br><br>

<audio autoplay>
   <source src="highman.wav" type="audio/mpeg">
 </audio>

<img src="fryandbender.jpg">
<br> <br>

<br><br></b><%=message1%></p>



<form action="/smokefirst?" method="POST"> 
  <input type="submit" name="smoke1st" value="Yes">
  
  <input type="submit" name="smoke1st" value="No">
  
</form> 
