
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>

<br><br>


<p><img src="fryandbender.jpg" width=400,height=400></p>
<br> <br>

<p><%=message1%><br><%=message2%></p><br>



<form action="/smokefirst?" method="POST"> 
<p>
  <input type="submit" name="smoke1st" value="Yes">
  <input type="submit" name="smoke1st" value="No">
  </p>
</form> 
