<head>
<link rel="stylesheet" href="/style.css">
</head>
<img src="/trippybanner.jpg"><p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>

<body bgcolor="green">

<p style="color:black"><b><br><br>


<img src="bender.png">
<br> <br>

<br><br></b><%=daveishere%><br><%=message1%></p>



<form action="/davehere" method="POST"> 
  <input type="submit" name="dave" value="Yes">
  <input type="submit" name="dave" value="No">		 
  <br>
</form> 
