<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<p>
<img src="joesupdatedbanner.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="/startjoe" shape="poly" coords="18,50,266,53,271,70,19,75" />
    <area alt="" title="" href="/startjade" shape="poly" coords="299,47,579,45,584,72,303,73" />
    <area alt="" title="" href="/info" shape="poly" coords="625,53,712,53,713,75,620,78" />
    <area alt="" title="" href="/startgames" shape="poly" coords="144,31,585,31,588,5,149,3" />
    </map>
</p>
         

<%=@params[:name]%>
<br><br>



<p><img src="fryandbender.jpg"></p>
<br> <br>

<br><br><p><%=message1%></p>



<form action="/smokefirst?" method="POST"> <p>
  <input type="submit" name="smoke1st" value="Yes">
  
  <input type="submit" name="smoke1st" value="No">
  </p>
</form> 
</html>
