
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>

<br><br>

<p><img src="highinforest.jpg"></p>


<br><br><p><%=message1%><br><%=message2%></p>



<form action="/sit_or_walk" method="POST"><p>
  <input type="submit" name="sitorwalk" value="Sit Down and Smoke a Blunt">
 
  <input type="submit" name="sitorwalk" value="Continue Walking & Smoke A Blunt">
  </p>
</form> 
