

<b><u><h2 style="color:red"><%=message1%></h2></u></b><br><br>

<body background="" bgcolor="#333333"> 

<p style="color:white">
<b><p><a href="Jades Safari Adventure Game.exe" download="Jades Safari Adventure Game.exe">Jade's Safari Adventure Game Download </a></p></b>
<b><p><a href="Joes_trippy_adventure_game.exe" download="Joes_trippy_adventure_game.exe">Joe's Trippy Adventure Game Download </a></p></b>
<b><p><a href="TTTconsole.exe" download="TTTconsole.exe">Tic Tac Toe by Mined Minds</a></p></b>
<br><br><br>
<p> *** DOWNLOAD AT YOUR OWN RISK *** <br>These Games are still in the deisgn phase and may have some quirks to them. </p>
  </body>