
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>

<form action="/gametest" method="POST">
<p>
What's Your Name?<br>
 <input type="text" name="high"> 
<br><br>
  <br>
  <input type="submit" name="submit">
</p>
  </form> 

  