<head>

</head>
 
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>
<body bgcolor="green">

<p style="color:red"><b></b></p>
 

<form action="/gametest" method="POST">

What's Your Name?<br>
 <input type="text" name="high"> 
<br><br>
  <br>
 <input type="submit" name="submit">
</form> 