<head>
<link rel="stylesheet" href="/style.css">
</head>
<img src="/trippybanner.jpg"><p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>

<body bgcolor="green">

<p style="color:black"><b><br><br>



<img src="homerandotto.gif">
<br> <br>

<br><br></b><%=message1%><br><%=message2%></p>



<form action="/go_to_club" method="POST"> 
  <input type="submit" name="club" value="Chill at Home">
  
  <input type="submit" name="club" value="Go to Club">
  
</form> 
