<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
} 
div.transbox {
  margin: 100px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
 margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>




<link rel="stylesheet" href="/style.css">
</head>

<p><img src="joesupdatedbanner.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="Joe's Adventure Games" href="/startjoe" shape="poly" coords="18,50,266,53,271,70,19,75" />
    <area alt="" title="" href="/startjade" shape="poly" coords="299,47,579,45,584,72,303,73" />
    <area alt="" title="" href="/info" shape="poly" coords="625,53,712,53,713,75,620,78" />
    <area alt="" title="" href="/startgames" shape="poly" coords="144,31,585,31,588,5,149,3" />
    </map>
         
    
<audio autoplay>
   <source src="" type="audio/mpeg">
</audio>
 

    
	<p> <img src="bubbanjoe.jpg"></p>
 
<div class="background">
  <div class="transbox">


<h1>Hello and welcome to Joe's games.</h1>

<body>    
<p> 
Let me tell you alittle about myself. I was born in Morgantown W.V. and lived in Nemacolin Pa for the first few years of life, where after we moved to Akron, Ohio.    <br>
Shortly after we moved to Stow Ohio where i went to school there until my 6th grade year when we moved back to Carmichaels pa. I graduated from Carmicheals Area.      <br>
Jr/Sr High in 2003, while in Highschool I studied Computer Information Technology at Greene Co Votech. When I graduated from Highschool I went to Daytona Beach where  <br>
I studied Computer Engineering at Daytona Beach Community College. When my brother, sister inlaw & their kids wanted to move to Arizona to be closer to her family they<br>
asked me to come with them, so I said Why not?.I lived for a few years in arizona working on cars and as a laboror. So after a few years there I moved back here to    <br>
Greene County Pa. A few months ago I heard how <a href="http://minedminds.github.io" target="_blank">Mined Minds</a> was offering FREE programming courses so of course <br>
I took them up on their offer, which I'm so glad I did as this has been such a great learning experience.															   <br><br>
<b>If you enjoy my games and are interested in more from me or even having a program designed for you by me or with <a href="http://minedminds.github.io" target="_blank">Mined Minds</a></b> <br>
You can Either <a href="mailto:joesephmckenzieaz@yahoo.com?subject=Joe's Games" target="_blank">Email Me</a> or Contact me  Via <a href="https://www.facebook.com/JosephMckenziepcrepair" target="_blank">Facebook</a><br>
<br><b>If you would like to check out the source code for these games you van vist my<br><a href="https://github.com/josephmckenzie/" target="_blank">Github Account 1</a> or <a href="  https://github.com/joestrippygame" target="_blank">Github Account 2</a><br></b>
<br><b>Thank You for playing Joe's Games today.</b><br><br> Feel free use the source code how you want as long as you dont<br> charge anybody anything for what you do with my code.
<br><br><br> <b>Joseph Mckenzie</b> <br></p>
 </div>
</div>

<h2>
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24Ny4MYn0OmGDmxx.fn7Azw0"+"&opts=17039&num=10&ts=1449259408938");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
</h2>
  </body>
  </html>
  