<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>

<p><img src="joesnewbanner.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="/startgames" shape="poly" coords="87,8,629,9,628,45,87,44" />
    <area alt="" title="" href="/startjoe" shape="poly" coords="249,56,249,73,14,77,12,56" />
    <area alt="" title="" href="/startjade" shape="poly" coords="259,54,514,54,514,75,263,73" />
    <area alt="" title="" href="tictactoe" shape="poly" coords="529,62,621,60,623,73,533,77" />
    <area alt="" title="" href="/info" shape="poly" coords="637,58,724,57,725,78,638,78" />
    </map></p>

<p>
<audio autoplay>
	<source src="" type="audio/mpeg">
</audio>
</p>

<br><br>

<p><img src="wantsomeacid.gif"></p>


<br><br><p><%=its_acid_man%><%=msg2%></p>



<form action="/acid" method="POST"><p>
  <input type="submit" name="tounge" value="Yes">
  <input type="submit" name="tounge" value="No">
  </p>
</form> 
</html>

