

<p>
<audio autoplay>
	<source src="" type="audio/mpeg">
</audio>
</p>

<br><br>

<p><img src="wantsomeacid.gif"></p>


<br><br><p><%=its_acid_man%><%=msg2%></p>

 

<form action="/acid" method="POST"><p>
  <input type="submit" name="tounge" value="Yes">
  <input type="submit" name="tounge" value="No">
  	<input type="number" name="hits" min="1" max="10"> How many hits of acid you want?

  </p>
</form> 
