<head>
<link rel="stylesheet" href="/style.css">
</head>

<img src="/trippybanner.jpg"><p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>
<body bgcolor="green">

<p style="color:black"><b><br><br>



<img src="wantsomeacid.gif">


<br><br></b><p><%=its_acid_man%><%=msg2%></p>



<form action="/acid" method="POST"> 
  <input type="submit" name="tounge" value="Yes">
  
  <input type="submit" name="tounge" value="No">
  
</form> 
