

<p><audio autoplay>
  <source src="" type="audio/mpeg">
  </audio>
</p>

<br><br>

<p>
<img src="duffbeer.jpg">
</p>

<br><br>

<p>
	<%=message1%><br><%=message2%><br><%=message3%>
</p>

<form action="/     " method="POST">
<p>
  <input type="submit" name=" " value="  ">
  <input type="submit" name=" " value="   ">
</p> 



</form> 