

<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>

<br><br>

<p><img src="entrancetowoods.jpg"></p>
<br> <br>

<br><br><p><%=message1%><br><%=message2%></p>

<form action="/start_on_shortcut" method="POST"> <p>
  <input type="submit" name="shortcut" value="Take Shortcut">
 
  <input type="submit" name="shortcut" value="Walk The Road">
  </p>
</form> 