
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>
</p>

<br><br>


<p>
 <video width="320" height="240" autoplay controls>
  <source src="homer_tripping.mp4" type="video/mp4">
   Your browser does not support the video tag.
</video> 
</p>
<br> <br>

<br><br><p><%=message1%><br><%=message2%><br><%=stash%><br><%=added%></p>



<form action="/trippin_in_car" method="POST">
<p>
  <input type="submit" name="drive" value="Continue to Drive">
  <input type="submit" name="drive" value="Get out and Walk">
</p>
</form> 
