<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>

<p><img src="joesupdatedbanner.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="/startjoe" shape="poly" coords="18,50,266,53,271,70,19,75" />
    <area alt="" title="" href="/startjade" shape="poly" coords="299,47,579,45,584,72,303,73" />
    <area alt="" title="" href="/info" shape="poly" coords="625,53,712,53,713,75,620,78" />
    <area alt="" title="" href="/startgames" shape="poly" coords="144,31,585,31,588,5,149,3" />
    </map>
</p>         

<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>
</p>

<br><br>


<p>
 <video width="320" height="240" autoplay controls>
  <source src="homer_tripping.mp4" type="video/mp4">
   Your browser does not support the video tag.
</video> 
</p>
<br> <br>

<br><br><p><%=message1%><br><%=message2%></p>



<form action="/trippin_in_car" method="POST">
<p>
  <input type="submit" name="drive" value="Continue to Drive">
  <input type="submit" name="drive" value="Get out and Walk">
</p>
</form> 
</html>

