<head>
<link rel="stylesheet" href="/style.css">
</head>
<img src="/trippybanner.jpg"><p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>

<body bgcolor="green">

<p style="color:black"><b><br><br>



 <video width="320" height="240" autoplay controls>
  <source src="homer_tripping.mp4" type="video/mp4">
   Your browser does not support the video tag.
</video> 
<br> <br>

<br><br></b><%=message1%><br><%=message2%></p>



<form action="/trippin_in_car" method="POST"> 
  <input type="submit" name="drive" value="Continue to Drive">
 
  <input type="submit" name="drive" value="Get out and Walk">
  
</form> 
