
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>

<br><br>



<p><img src="homertrippincar.jpeg"></p>
<br> <br>

<br><br><p><%=message1%><br><%=message2%><br><%=stash%></p>



<form action="/leave_starting_to_trip" method="POST"> <p>
  <input type="submit" name="leave" value="Take Car">
 
  <input type="submit" name="leave" value="Walk">
  </p>
</form> 