<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>

<p><img src="joesupdatedbanner.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="/startjoe" shape="poly" coords="18,50,266,53,271,70,19,75" />
    <area alt="" title="" href="/startjade" shape="poly" coords="299,47,579,45,584,72,303,73" />
    <area alt="" title="" href="/info" shape="poly" coords="625,53,712,53,713,75,620,78" />
    <area alt="" title="" href="/startgames" shape="poly" coords="144,31,585,31,588,5,149,3" />
    </map></p>
         

<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>

<br><br>

<p><img src="entrancetowoods.jpg"></p>
<br> <br>

<br><br><p><%=message1%><br><%=message2%></p>

<form action="/start_on_shortcut" method="POST"> <p>
  <input type="submit" name="shortcut" value="Take Shortcut">
 
  <input type="submit" name="shortcut" value="Walk The Road">
  </p>
</form> 
</html>
