
<p><audio autoplay>
  <source src="" type="audio/mpeg">
  </audio>
</p>

<br><br>

<p>
<img src="shot.jpg" width ="200" height= "200">
</p>

<br><br>

<p>
	<%=message1%><br><%=message2%><br><%=message3%><br>
</p>

<form action="/drinkingshots" method="POST">
<p>
  <input type="submit" name="shots" value="Pass out some of the shots">
  <input type="submit" name="shots" value="Keep all of it to yourselves">
</p> 
</form> 
