<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="green">

<p style="color:black"><b><br><br><br>
<audio autoplay>
<source src="police_siren.wav" type="audio/mpeg">
</audio>


<img src="/police.jpg">
<br> <br>


<%=arrested%><br> <b>Play Again Man? </b></p>



<form action="/startgames" method="POST"> 
  <input type="submit" name="playgame" value="Joe's Trippy Adventure Game">
  
  <input type="submit" name="playgame" value="Jade's Safari Adventure Game"><br><br>
  <input type="submit" name="playgame" value="No I Suck & I Don't Wanna Play Again"> 

</form> 
