
<p>
<img src="poolgame.jpg" width="300" height="300">

</p>

<p>
<%= message1%><br><%=whowon%><br><%=won_by%><br><%= message2%>

<form action="/playagain" method="POST">
<p>
  <input type="submit" name="playagain" value="Yeah sure">
  <input type="submit" name="playagain" value="No let's go have a shot">
</p> 
</form>
