
		
<p><audio controls autoplay>
   <source src="" type="audio/mpeg">
</audio></p>

<b><p style="color:white"><%=message1%><br><%=age%></p></b>
<body background="background2.jpg" bgcolor="#333333"><br>

<p style ="color:red"> *** Sorry But I am curently coding this game. You can play what I have for the command line (dos) ***
 
<p><img src="confusedleopard.jpg"><br><br></p>



<p><a href="/downloads">Go to My Downloads</a></p>
<p><a href="/startgames" >Go Back Home</a></p></b>

  </body>
