<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="green">

<img src="/jadesbanner.jpg"

<p style="color:blue"><b><p><%=message1%>

<form action="/startgames" method="POST"> 
  <input type="submit" name="answer" value="answer" checked>
  
  <input type="submit" name="answer" value="dontanswer">
  
</form> </b></p>
