
         
<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>

<br><br>



<p><img src="entrancetowoods.jpg"></p>


<br><br><p><%=message1%><br><%=message2%></p>



<form action="/in_woods" method="POST"> <p>
  <input type="submit" name="path" value="Continue down Path">
 
  <input type="submit" name="path" value="Turn Around">
  </p>
</form> 
