
<p><audio src="" type="audio/mpeg">
</audio></p>
	
<br>

<p><img src="trippinginwoods.jpg"></p>


<p><%=message1%><br><%=message2%><br><%=message3%><br><%=message4%></p>

<form action="/tripping_in_woods"  method="POST">
<p>

<input type="submit" name="wtf" value="Yeah WTF is it?"><br>

<input type="submit" name="wtf" value="No What are you talking about?">

</p>

</form>
