

<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>

<b><br><br>



<img src="homerandotto.gif">
<br> <br>

<br><br></b><%=message1%><br><%=message2%></p>



<form action="/go_to_club" method="POST"> 
<p>
  <input type="submit" name="club" value="Chill at Home">
  
  <input type="submit" name="club" value="Go to Club">
  </p>
</form> 
