
<head>


<body background="background2.jpg" bgcolor="#333333">

</head>

    
<p><audio controls autoplay>
   <source src="" type="audio/mpeg">
</audio></p><br>


 
<b><p style="color:red"> <%=message1%><br><%=message2%></p></b>
 

<form action="/startgames" method="POST">
<p style="color:white"><br>
What's Your Name?<br>
 <input type="text" name="name"> <br>
<br>
How Old are You?<br>
<input type = "text" name="age" autocorrect=off autocapitalize=words ><br>
<br>
  <input type="radio" name="playgame" value="Joe's Trippy Adventure Game" checked>Joe's Trippy Adventure Game
  <br>
  <input type="radio" name="playgame" value="Jade's Safari Adventure Game">Jade's Safari Adventure Game
  <br><br>
 <input type="image" src="startgame.jpg" name="submit"> </p>
</form>
 
  

  
  