
<p><audio controls autoplay>
   <source src="" type="audio/mpeg">
</audio></p>


<body background="background2.jpg" bgcolor="#333333"> 
<p style="color:red"><b><%=message1%><br><%=message2%></b></p>
 

<form action="/startgames" method="POST">
<p style="color:white">
What's Your Name?<br>
 <input type="text" name="name"> <br>
<br>
How Old are You?<br>
<input type = "text" name="age"><br>
<br>
  <input type="radio" name="playgame" value="Joe's Trippy Adventure Game">Joe's Trippy Adventure Game
  <br>
  <input type="radio" name="playgame" value="Jade's Safari Adventure Game" checked>Jade's Safari Adventure Game
  <br><br>
 <input type="image" src="startgame.jpg" name="submit"> </p>
</form>
</body>
 
  