<head>
<link rel="stylesheet" href="/style.css">
</head>
 
<img src="/trippybanner.jpg"><p><audio controls autoplay>
   <source src="rain.mp3" type="audio/mpeg">
</audio>
<body bgcolor="green">

<p style="color:red"><b><%=message1%></b></p>
 

<form action="/startgames" method="POST">

What's Your Name?<br>
 <input type="text" name="name"> 
<br><br>
  <input type="radio" name="playgame" value="Joe's Trippy Adventure Game" checked>Joe's Trippy Adventure Game
  <br>
  <input type="radio" name="playgame" value="Jade's Safari Adventure Game">Jade's Safari Adventure Game
  <br>
 <input type="submit" name="submit">
</form> 
