<!DOCTYPE html>

<html>
<head>

<link rel="stylesheet" href="/style2.css">

<% if false %>
<script type="text/javascript">
window.onload = function() {
window.open('/backgroundmusic','Background Music',' menubar=0, resizable=0,dependent=0,
status=0,width=300,height=200,left=10,top=10')}
</script>

<% end %>



</head>
<p><img src="joesnewbanner.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="/startgames" shape="poly" coords="87,8,629,9,628,45,87,44" />
    <area alt="" title="" href="/startjoe" shape="poly" coords="249,56,249,73,14,77,12,56" />
    <area alt="" title="" href="/startjade" shape="poly" coords="259,54,514,54,514,75,263,73" />
    <area alt="" title="" href="https://mmtictactoe.herokuapp.com/tictactoe" target="_blank" shape="poly" coords="529,62,621,60,623,73,533,77" />
    <area alt="" title="" href="/info" shape="poly" coords="637,58,724,57,725,78,638,78" />
    </map></p>
    
<p><audio controls autoplay>
   <source src="" type="audio/mpeg">
</audio></p><br>


 
<b><p style="color:red"> <%=message1%><br><%=message2%></p></b>
 

<form action="/startgames" method="POST">
<p style="color:white"><br>
What's Your Name?<br>
 <input type="text" name="name"> <br>
<br>
How Old are You?<br>
<input type = "text" name="age" autocorrect=off autocapitalize=words ><br>
<br>
  <input type="radio" name="playgame" value="Joe's Trippy Adventure Game" checked>Joe's Trippy Adventure Game
  <br>
  <input type="radio" name="playgame" value="Jade's Safari Adventure Game">Jade's Safari Adventure Game
  <br><br>
 <input type="image" src="startgame.jpg" name="submit"> </p>
</form>
<br><br><br><br><br><br><b><p style ="color:white"><script src=http://fastonlineusers.com/online.php?d=www.mohager.co.sr></script> users have checked out my games</b></p>
  </body>
    </html>
  

  
  