

<p><audio autoplay>
  <source src="" type="audio/mpeg">
  </audio>
</p>

<br><br>

<p>
<img src="insideclub.jpg">
</p>

<br><br>

<p>
	<%=message1%><br><%=message2%><br><%=message3%>
</p>

<form action="/justdrinkbeer" method="POST">
<p>
  <input type="submit" name="beer" value="Buy a Round">
  <input type="submit" name="beer" value="Dont Buy a Round">
</p> 
</form> 
