<head>
<link rel="stylesheet" href="/style.css">
</head>
<img src="/trippybanner.jpg"><p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>

<body bgcolor="green">

<p style="color:black"><b><br>


<img src="acidtounge.jpg">
<br> <br>

<br><br></b><%=yes%><br><%=places%><br><%=leave%> </p>



<form action="/justdosed" method="POST"> 
  <input type="submit" name="justdosed" value="Stay">
  <input type="submit" name="justdosed" value="Leave">
<input type="text" name="acid">
  <br>
</form> 
