

<br><br>

<p><img src="roadtoclub.gif"></p>


<br><br><p><%=message1%><br><%=message2%><br><%=message3%><br><%=message4%></p>



<form action="/arrive_at_club" method="POST"> <p>
  <input type="submit" name="atclub" value="Go to Club">
 
  <input type="submit" name="atclub" value="Walk in Woods">
  </p>
</form> 
