
<p><audio autoplay>
   <source src="knock.wav" type="audio/mpeg">
 </audio></p>

<p>
<audio autoplay>
<source src="cough.wav" type="audio/mpeg">
</audio>
</p>

<p><h2><%=message1%></h2></p>
<br>
<p><img src="/smokingoncouch.jpg" width="300" height="300"></p>
<br>
<p><%=message2%><br><%=message3%></p>

<form action="/answerdoor" method="POST"> <p>
  <input type="submit" name="door" value="Yes">
  <input type="submit" name="door" value="No">
  </p>
 </form> 

 