<head>
<link rel="stylesheet" href="/style.css">
</head>
<img src="/trippybanner.jpg"><p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio>

<body bgcolor="green">

<p style="color:black"><b><br><br>


<img src="">

<br><br></b><%=message1%><br><%=message2%><br><%=message3%><br> </p>



<form action="/start_on_shortcut" method="POST"> 
  <input type="submit" name="drive" value="Go in to Club">
 
  <input type="submit" name="drive" value="Take walk in Woods">
  
</form> 
