<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="green">

<p style="color:black"><b><img src="/trippybanner.jpg"><br><p><audio autoplay>
   <source src="knock.wav" type="audio/mpeg">
 </audio>

<p>
<audio autoplay>
<source src="cough.wav" type="audio/mpeg">
</audio><br>

<%=message1%>
<p>
<img src="/smokingoncouch.jpg">
<br> <br>

<%= @params[:name]%> is sitting around Smoking a bong when someone knocks on the door. Do you get up and answer it ? </b></p>



<form action="/answerdoor" method="POST"> 
  <input type="submit" name="door" value="Yes">
 
  <input type="submit" name="door" value="No">
  
 </form> 
  