



<p><img src="trippypath_turnaround.jpg"  height="300" width="300"></p>

<br> <p><%=message1%><br><%=message2%><br><%=message3%></p><br>

<form action="/sit_or_walk" method="POST"><p>
  <input type="submit" name="sitorwalk" value="Sit Down and Smoke a Blunt">
 
  <input type="submit" name="sitorwalk" value="Continue Walking & Smoke A Blunt">
  </p>

